# --- Data Lake (MinIO) ---
MINIO_ENDPOINT=http://localhost:9000
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password

# --- Metastore & Backend (Postgres) ---
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=metastore

# --- Visualization (Superset) ---
SUPERSET_SECRET_KEY=super_secret_lakehouse_key
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=password

# --- Query Engine (Trino) ---
TRINO_USER=admin

# --- Airflow ---
AIRFLOW_HOME=/home/thevinh/repos/tiki-lakehouse-pipeline/airflow_home
AIRFLOW__CORE__DAGS_FOLDER=/home/thevinh/repos/tiki-lakehouse-pipeline/dags
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__EXECUTOR=SequentialExecutor

AIRFLOW__WEBSERVER__WEB_SERVER_PORT=8081

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////home/thevinh/repos/tiki-lakehouse-pipeline/airflow_home/airflow.db